@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');



.body1 {
    background-image: url('trubky.png');
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    box-sizing: border-box;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 24px;
    padding: 0;
    margin: 0;
    text-align: center;
}
.contact{
    border: 1px solid white; 
    border-radius: 15px;
    margin: 10px;
    margin-left: 30%;
    margin-right: 30%;
    color: white;
    padding: 5px;
    text-align:  center;
    font-size: 35px;
}
.submit__button{
  color: white;
}


.transparent-input input {
    background: transparent;
    border: none;
    width: 60%;
    border-bottom: 1px solid rgb(255, 255, 255);
    text-align: left;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 50px;
}

.transparent-input button {
    background: transparent;
    border: none;
    width: auto;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 30px;
}

.transparent-input input::placeholder {
    color: white;
}

.hero__container {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  width: 100%;
  min-width: 1200px;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  z-index: 999;
}

.logo__container {
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}

.logo__container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 100;
}


.logo__container2 {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.logo__container2 h1 {
  border-bottom: 1px solid black;
  font-size: 64px;
}

.container {
  display: flex;
  padding: 120px; 
  text-align: center;

}
.footerText {
  margin-left: 10px;
}




.navbar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  z-index: 1;
  width: 35%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}
.mainText{
  margin-left: 60px;
  width: 50%;
}
.mainText p{
 font-size: 30px;
}
footer {
  background-color: #b0a5a5;
  min-width: 1200px;
  
}


.footer__icon {
  display: flex;

  align-items: center;
  text-align: center; /* Optional: Align text at the center */
}

.footer__icon img {
  margin-bottom: 10px; /* Adjust the margin as needed */
}


.navbar__menu {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  padding: 15px;
}

.navbar__links {
  font-family: 'Jomhuria', sans-serif;
  color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.aboutText{
  font-size: 42px;
  margin-right: 20px;
  margin-left: 20px;
}